header {
  background-image: url(img/hero.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.galv-logo {
  margin-left: 10px;
}

.menu {
  margin-left: 10px;
}

.main {
  margin-top: 40px;
}

.para-head {
  display: flex;
  align-items: center;
}

.para-title {
  margin-left: 10px;
}

.empty-order {
  margin-top: 10px;
  width: 140px;
  font-size: 10px;
}

.order-add-btn {
  cursor: pointer;
}
